.jumbotron {
	background-image: url("header.jpg");
	background-size: cover;
	height: 800px;
}

.display-4 {
	text-align: center;
	padding-top: 200px;
	color: rgba(255, 255, 255, 0.849);
}

.btn {
	margin-left: 525px;
	margin-top: 160px;
	background-color: rgb(240, 81, 23);
	border-radius: 12px;
	border-color: rgb(240, 81, 23)
}

